@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-text: darkred;
  --primary-link: red;
  --primary-visited: #ff6b6b;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

main,
body {
  font-size: 14px;
  line-height: 1.42857143;
  max-width: 35em;
  margin: 2em auto;
  width: auto;
  min-width: 10em;
}

h1 {
  font-size: 36px;
  margin-block-start: 0.67em;
  margin-block-end: 5px;
}

.site-header {
  text-align: center;
}

b {
  font-weight: 700;
}

hr {
  height: 1px;
  border-width: 0;
  min-width: 10em;
  width: auto;
  max-width: 35em;
  align-self: center;
}

a {
  text-decoration: none;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

* {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* font-size: 14px; */
  line-height: 1.42857143;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  * {
    color: #1f2328;
    background-color: white;
  }

  a:hover,
  a:active {
    color: var(--primary-link);
  }

  a:link,
  a:visited {
    color: var(--primary-text);
  }

  hr {
    color: var(--primary-text);
    background-color: var(--primary-text);
  }

  *::-moz-selection,
  *::selection {
    color: white;
    background-color: var(--primary-text);
  }
}

@media (prefers-color-scheme: dark) {
  * {
    color: #c8c3bc;
    background-color: #181a1b;
  }

  a:hover,
  a:active {
    color: var(--primary-text);
  }

  a:link,
  a:visited {
    color: var(--primary-visited);
  }

  b,
  a::-moz-selection {
    color: #e8e6e3;
    font-weight: bolder;
  }

  hr {
    background-color: #e8e6e3;
  }

  *::-moz-selection,
  *::selection {
    color: #e8e6e3;
    background-color: var(--primary-text);
  }
}

@media screen and (max-width: 40em) {
  main {
    width: auto;
    max-width: 100%;
    padding: 0 1em;
  }
}
