* {
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

body {
    font-size: 14px;
    line-height: 1.42857143;
    max-width: 35em;
    margin: 2em auto;
    width: auto;
    min-width: 10em;
    padding: 0 0;
}

b {
    font-weight: 700;
}

hr {
    height: 1px;
    border-width: 0;
}

@media (prefers-color-scheme: light) {
    * {
        color: #1f2328;
        background-color: white;
    }
    a:hover,
    a:active {
        color: red;
    }
    a:link,
    a:visited {
        color: darkred;
    }
    hr {
        color: darkred;
        background-color: darkred;
    }
    *::-moz-selection {
        color: white;
        background-color: darkred;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        color: white;
        background-color: #1f2328;
    }
    a:hover,
    a:active {
        color: darkred;
    }
    a:link,
    a:visited {
        color: #cf462d;
    }

    hr {
        color: #cf462d;
        background-color: #cf462d;
    }
    *::-moz-selection {
        color: white;
        background-color: darkred;
    }
}

@media screen and (max-width: 40em) {
    body {
        width: auto;
        max-width: 100%;
        padding: 0 1em;
    }
}
